.main-holder {
    padding: 20px;
    margin: 0;
}

.main-holder > div {
    margin: 0;
}

.destination-name {
    text-align: right;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px !important;
}



.destination-description-delimiter {
    border-bottom: 2px solid gray;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
}

.destination-description {
    letter-spacing: 1px;
    text-align: justify;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.destination-description::first-letter {
    float: left;
    font-size: 36px;
    line-height: 38px;
    font-weight: 600;
    margin-right: 5px;
}

.destination-likes {
    font-size: 14px;
}

.destination-type {
    font-size: 14px;
}

.destination-distance {
    font-size: 14px;
}

.destination-expense {
    font-size: 14px;
}

.align-right {
    text-align: right;
}