.main-holder {
    padding: 20px;
    margin: 0;
}

.main-holder > div {
    margin: 0;
}

.destination-name {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px !important;
}



.destination-description-delimiter {
    border-bottom: 2px solid gray;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
}

.destination-description {
    letter-spacing: 1px;
    text-align: justify;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.destination-description::first-letter {
    float: left;
    font-size: 36px;
    line-height: 38px;
    font-weight: 600;
    margin-right: 5px;
}

.destination-likes {
    font-size: 14px;
}

.destination-type {
    font-size: 14px;
}

.destination-distance {
    font-size: 14px;
}

.destination-expense {
    font-size: 14px;
}

.align-right {
    text-align: right;
}


.poi-search-fields-holder {
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

.search-field-holder {
    padding: 4px;
}

.result-holder.header {
    background: rgb(238, 238, 238);
}

.result-holder.header > div {
    padding: 20px;
    font-weight: 600;
    font-size: 14px;
}

.search-field-holder .separator {
    height: 5px;
    background: #dfdfdf;
}

.search-button {
    color: rgb(21, 109, 94);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 28px;
    background: #e4e4e4;
    transition: .3s;
    cursor: pointer;
}

.search-button:hover {
    background: #d4d4d4;
}