.destinations-main-holder {
    position: relative;
    top: 80px;
    min-height: calc(100vh - 80px);
    transition: 1s;
    width: 100%;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.map-holder {
    min-height: 400px;
}

.destinations-main-holder > div {
    padding: 0;
}

.destinations-main-holder.leaving {
    opacity: 0;
}

.destinations-main-holder.entering {
    opacity: 0;
}

.explore-holder {
    position: relative;
    background: rgb(245, 245, 245);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}

.match-parent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-search-fields-holder {
    background: #ececec;
    margin: 0;
    padding: 0;
}

.search-field-holder {
    padding: 4px;
}

.search-field-holder .separator {
    height: 5px;
    background: #dfdfdf;
}

.search-button {
    color: rgb(21, 109, 94);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 18px;
    background: #e4e4e4;
    transition: .3s;
    cursor: pointer;
}

.search-button:hover {
    background: #d4d4d4;
}

.main-results {
    text-align: center;
    width: 100%;
    table-layout: fixed;
    font-size: 14px;
}



.main-results tr:first-child {
    font-weight: 700;
    background: rgb(224, 224, 224);
}

.main-results tr > td:first-child {
    width: 80px;
}

.main-results tr:not(:first-child) {
    background: rgb(240, 240, 240);
}

.main-results td {
    padding: 18px;
}

.result-holder {
    margin: 0;
    padding: 0;
}

.result-holder.info {
    background: rgb(224, 224, 224);
}

.result-holder.info > div {
    padding: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    border-bottom: 2px solid white;
}

.destination-item td {
    cursor: pointer;
    transition: .3s;
}

.destination-item:hover td{
    background: rgb(233, 233, 233);
}

.search-destination-holder {
    animation: fadeIn 1s;
}

.selected-destination {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: white;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1;}
}

.close-selected-destination {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .3);
    transform: scale(0.00);
    cursor: pointer;
    transition: .3s;
}

.close-selected-destination > div {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    padding: 0 !important;
}

.close-selected-destination.selected {
    transform: scale(1.00);
}
