
@font-face {
    font-family: OpenSans;
    src: url("assets/fonts/OpenSans-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: OpenSans;
    src: url("assets/fonts/OpenSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("assets/fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: OpenSans;
    src: url("assets/fonts/OpenSans-Bold.ttf");
    font-weight: 700;
}

body {
    font-family: OpenSans;
    font-weight: normal;
    margin: 0;
    font-size: 13px;
}


.input-holder {
    background: #e7e7e7;
    color: black;
    height: 80px;
    transition: .3s background;
}

.input-holder:hover {
    background: #dfdfdf;
}

.input-holder.focused {
    background: #e0e0e0;
}

.input-holder.blurred .input-text-value{
    top: 50%;
    font-size: 14px;
}

.input-holder.focused .input-text-value{
    top: 18px;
    font-size: 12px;
    color: rgb(54, 224, 224);
}

.input-holder.disabled {
    opacity: .5;
}

.input-holder.label {
    background: #191b1f;
    opacity: .95;
}

.input-holder.label:hover {
    background: #191b1f;
    opacity: .95;
}

.input-holder small {
    position: absolute;
    left: 20px;
    top: calc(50% + 28px);
    transform: translateY(-50%);
    color: red;
    font-size: 13px;
}

.input-text-value {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-weight: 600;
    transition: .3s;
}

.input-holder.blurred .input-text-value{
    top: 50%;
    font-size: 14px;
}

.input-holder.focused .input-text-value{
    top: 18px;
    font-size: 12px;
    color: rgb(21, 109, 94);
}

.input-styled {
    position: relative;
    border: none;
    padding: 10px;
    outline: none;
    background: transparent;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    color: inherit;
}

.form-holder {
    padding: 0 !important;
    margin: 0 !important;
}

.marker {
    position: absolute;
    background: url('/assets/mapbox-icon.png');
    background-size: cover;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}