<div class="login-dialog-component" [ngClass]="{'activated' : activated}">
    <div class="header-holder">
        <div class="login-dialog-header">Login</div>
    </div>

    <div class="login-item p-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum feugiat mauris ac consectetur. Etiam egestas, erat nec consectetur semper, 
        quam massa lacinia mi,
         in iaculis tortor lorem ac libero. Nam dignissim erat id tortor vulputate, 
         in mattis neque mollis. Donec posuere convallis risus, at sollicitudin dolor ornare a.
    </div>

    <form name="loginForm" #ncf="ngForm" (ngSubmit)="login()">
        <div class="p-4">
            <div class="form-holder row">

                <div class="input-holder d-flex align-items-center col-12" 
                    [ngClass]="{blurred : isBlurred(username), 
                    focused : isFocused(username) || 
                    !isEmpty(username)}">
                    <p class="input-text-value">Email:</p>
                    <input type="text" class="input-styled" autocomplete="off"
                    (blur)="blurInput($event, username)" 
                    (focus)="focusInput($event, username)"
                        [(ngModel)]="loginDTO.username" name="email"
                        #username="ngModel" data-index="0">
                </div>

                <div class="col-12 p-1"></div>

                <div class="input-holder d-flex align-items-center col-12" 
                    [ngClass]="{blurred : isBlurred(password), 
                    focused : isFocused(password) || 
                    !isEmpty(password)}">
                    <p class="input-text-value">Password:</p>
                    <input type="text" class="input-styled" autocomplete="off"
                    (blur)="blurInput($event, password)" 
                    (focus)="focusInput($event, password)"
                        [(ngModel)]="loginDTO.password" name="password"
                        #password="ngModel" data-index="1">
                </div>

                <div class="col-12 p-1"></div>

                <div class="col-12 p-3 login-button" (click)="login()">
                    Login
                </div>
            </div>
        </div>

    </form>
</div>
