<div class="main-navigation-bar" [ngClass]="{'transparent-bar' : getUrl() === 'home' || getUrl() === ''}">
    <ul class="logo">
        <li><fa-icon [icon]="faGlobe"></fa-icon> WhoKnowsWhere</li>
    </ul>
    <ul class="options-1">
        <li (click)="goHome()" *ngIf="getUrl() !== 'home'">Home</li>
        <li (click)="explore()" *ngIf="(getUrl() === 'home' || getUrl() === '') && authenticationService.isRegisteredUser()">Explore</li>
        <li *ngIf="!authenticationService.isLoggedIn()" (click)="openDialog()">Login</li>
        <li *ngIf="!authenticationService.isLoggedIn()" (click)="openRegisterDialog()">Register</li>
        <li *ngIf="authenticationService.isLoggedIn()" (click)="logout()">Logout</li>
        <li *ngIf="authenticationService.isLoggedIn() && authenticationService.isRegisteredUser()">My Profile <fa-icon [icon]="faUser"></fa-icon></li>
        <li *ngIf="authenticationService.isLoggedIn() && authenticationService.isAdmin()" routerLink="/admin-panel/create-destination">Admin Panel</li>
    </ul>
</div>


<router-outlet></router-outlet>



<div (click)="closeLoginDialog()" class="teaser" [ngClass]="{'activated': loginTeaserActivated}"></div>
<div (click)="closeRegisterDialog()" class="teaser" [ngClass]="{'activated': registerTeaserActivated}"></div>
<div app-login-dialog></div>
<div app-register-dialog></div>

