<div class="main-navigation-bar" [ngClass]="{'transparent-bar' : getUrl() === 'home' || getUrl() === ''}">
    <ul class="options-1">
        <li (click)="goHome()" *ngIf="getUrl() !== 'home'">Home</li>
        <li (click)="explore()" *ngIf="getUrl() === 'home' || getUrl() === ''">Explore</li>
        <li (click)="openDialog()">Login</li>
        <li (click)="openRegisterDialog()">Register</li>
        
    </ul>
</div>


<router-outlet></router-outlet>



<div (click)="closeLoginDialog()" class="teaser" [ngClass]="{'activated': loginTeaserActivated}"></div>
<div (click)="closeRegisterDialog()" class="teaser" [ngClass]="{'activated': registerTeaserActivated}"></div>
<div app-login-dialog></div>
<div app-register-dialog></div>

