<div class="row main-holder">
    <div class="col-12 col-md-5 main-input-holder">
        <div class="row col-12 result-holder" *ngIf="!selectedPOI">
            <table class="main-results">
                <tr>
                    <td>Name</td>
                    <td>Type</td>
                    <td>Status</td>
                </tr>
                <tr *ngFor="let item of pois; let i = index" (click)="tablePOIClicked(item)" class="destination-item">
                    <td>{{item.name}}</td>
                    <td>{{item.type}}</td>
                    <td *ngIf="item.isRemoved">Removed</td>
                    <td *ngIf="!item.isRemoved">Not Removed</td>
                </tr>
            </table>
        </div>
        <div class="selected-destination" *ngIf="selectedPOI">

            <div class="row selected-main-holder">
                <div class="col-12 destination-name">{{selectedPOI.name}}</div>
                <div class="col-6 destination-likes semi-bold">Total likes: {{selectedPOI.likes}}</div>
                <div class="col-6 destination-type semi-bold">Type: {{selectedPOI.type}}</div>
                <div class="col-12 destination-description-delimiter">Description:</div>
                <div class="col-12 destination-description">{{selectedPOI.description}}</div>
            </div>
            <div class="col-12 col-md-12 input-field-holder">
                <div class="col-12 create-button" *ngIf="!selectedPOI.isRemoved" (click)="removePOI()">Remove POI</div>
                <div class="col-12 create-button" *ngIf="selectedPOI.isRemoved" (click)="restorePOI()">Restore POI</div>
            </div>
            
        </div>
    </div>
    <div class="col-12 col-md-7" style="position: relative; height: 100%;">
        <app-admin-map [poiMarkers]="poiMarkers"></app-admin-map>
        <div class="close-selected-destination" [ngClass]="{selected : selectedPOI}" (click)="closeSelectedPOI()">
            <div><fa-icon [icon]="faTimes"></fa-icon></div>
        </div>
    </div>
</div>
